:root {
  font: 16px / 1 sans-serif;
  color: #061c44;
  --bone: #f7fbf7;
  --pink: #ff73a8;
  --lite-pink: #f9d1e0;
  --spring-green: #51fa9d;
  --dandelion: #f5a615;
  --navy: #061c44;
}

html {
  height: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

h3 {
  /* border: 1rem solid; */
  background-color: var(--pink);
  border-color: var(--pink);
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--lite-pink);
  /* background-color: var(--bone); */
}
